# Django Stuff
*.log
local_settings.py

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot
*.pyc
*.pyc
mysite/__pycache__/wsgi.cpython-35.pyc
*.pyc